<%- include("partials/header") -%>

    <!------ body/main/home-content : START ------>
    <section class="home-content">

        <h3>
            <%= page.pageContent[0] %>
            <%= page.pageContent[1] %>
        </h3>

    </section>
    <!------ body/main/home-content : END ------>


    <!------ body/main/home-gallery : START ------>

    <section class="home-gallery">
        <!-- projects.slice().reverse().forEach()   for reverse list projects -->
        <% projects.forEach(project => { %>
            <a href= <%= toKebabCase(project.projectName) %>>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img src= <%= project.mainImg %> alt= <%= project.projectName %> class="image">
                        <div class="overlay">
                            <div class="gallery-img-text"><%= project.projectName %></div>
                        </div>
                    </div>
                </div>
            </a>
        <% }) %>
    </section>





    <!------ body/main/home-gallery : END ------>


    <%- include("partials/footer") -%>