<%- include("partials/header") -%>

    <!------ body/main/project-content : START ------>
    <section class="project-content">

        <h1 class="projectName">
            <%= project.projectName %>
        </h1>

        <h3 class="projectDesc">
            <%= project.projectDesc %>
        </h3>

    </section>
    <!------ body/main/project-content : END ------>


    <!------ body/main/project-gallery : START ------>
    <section class="project-gallery">

        <% project.images.forEach(image=> { %>

            <div class="image-project">
                <img src="<%= image %>"/>
            </div>

        <% }); %>

    </section>
    <!------ body/main/project-gallery : END ------>


<%- include("partials/footer") -%>