<section class="about-content">

    <!-- <p class="about-me">ABOUT ME</p> -->

    <div class="intro">

        <img class="about_img" src="/green_about_img.png" alt="">



        <% if (!isAuthenticated || !editing) { %>

            <h3 class="aboutText">
                <%= page.pageContent[0] %>
                <%= page.pageContent[1] %>
            </h3>
            
            
        <% } else { %>
            <form class="aboutText" action="/admin/edit-page-content" method="POST">
                <textarea class="styled-textarea aboutText" name="content" id="content"><%= page.pageContent %></textarea>
                <%- include('../../../admin/csrf-input.ejs') %>
                <div class="save-btn-container">
                    <button class="save-btn" type="submit">Save</button>
                    <button id="cancel-btn" class="cancel-btn">Cancel</button>
                </div>
                <input type="hidden" value="<%= page.pageName %>" name="page">
                <input type="hidden" value="<%= JSON.stringify(page.pageContent) %>" id="previousContent" name="previousContent">
            </form>
                
        <% } %>

    </div>



    






</section>




