<section class="project-gallery">



        <% if (!isAuthenticated || !editing) { %>
            <% project.images.forEach((image)=> { %>
                <div class="image-project">
                    <img src="<%= image %>" />
                </div>
            <% }); %>




        <% } else { %>

            <% project.images.forEach((image, index)=> { %>
                <div class="project-images-container">
                    <div class="image-project">
                        <img src="<%= image %>" />
    
                    </div>


                    <form action="/admin/update-project-image" method="POST">

                        <label for="images">Image <%= index %>: </label>
                        <input type="url" class="newImageUrl" name="image" value="<%= image %>" />
                        <label for="setMainImage">Main image: </label>
                        <input type="checkbox" class="newImageUrl" name="setMainImage" <%= image === project.mainImg ? 'checked' : '' %> />

                        <button class="save-btn" type="submit">Save</button>
                        
                        
                        <%- include('../../../admin/csrf-input.ejs') %>
                        <input type="hidden" value="<%= JSON.stringify(project._id) %>" name="projectId">
                        <input type="hidden" value="<%= index %>" name="imageOrder">
                        
                    </form>


                </div>




            <% }); %>

            

        <% } %>

    

</section>