<section class="project-content">


    <% if (!isAuthenticated || !editing) { %>
        <h1 class="projectName">
            <%= project.projectName %>
        </h1>
    
        <h3 class="projectDesc">
            <%= project.projectDesc %>
        </h3>
        
        
        
    <% } else { %>
        <form action="/admin/edit-project" method="POST">
            
            <input class="projectName projectNameEdit" name="projectName" id="projectName" value="<%= project.projectName %>">
            
            <textarea class="styled-textarea" name="projectDesc" id="projectDesc" rows="6"><%= project.projectDesc %></textarea>

            
            <div class="save-btn-container">
                <button class="save-btn" type="submit">Save</button>
                <button id="cancel-btn" class="cancel-btn">Cancel</button>
            </div>
            
            
            <%- include('../../../admin/csrf-input.ejs') %>
            <input type="hidden" value="<%= page.pageName %>" name="page">
            <input type="hidden" value="<%= JSON.stringify(project._id) %>" name="projectId">
            <input type="hidden" value="<%= JSON.stringify(project) %>" id="previousContent" name="previousContent">


            
        </form>
            
    <% } %>


</section>