<section class="project-content">


    <% if (!isAuthenticated || !editing) { %>
        <h1 class="projectName">
            <%= project.projectName %>
        </h1>
    
        <h3 class="projectDesc">
            <%= project.projectDesc %>
        </h3>
        
        
        
    <% } else { %>

        <form class="delete-archive" action="/admin/delete-or-archive-project" method="POST">
            <%- include('../../../admin/csrf-input.ejs') %>
            <input type="hidden" value="<%= JSON.stringify(project._id) %>" name="projectId">
            <button class="delete-btn" type="submit" value="delete" name="trash" onclick="return confirmDelete()">Delete Project</button>
            <button class="archive-btn" type="submit" value="archive" name="trash"><%= project.archive ? "Unarchive" : "Archive" %> Project</button>
        </form>

        <form action="/admin/edit-project" method="POST">
            
            <input class="projectName projectNameEdit" name="projectName" id="projectName" value="<%= project.projectName %>">
            
            <textarea class="styled-textarea projectDesc" name="projectDesc" id="projectDesc" rows="6"><%= project.projectDesc %></textarea>

            
            <div class="save-btn-container">
                <button class="save-btn" type="submit">Save</button>
                <button id="cancel-btn" class="cancel-btn">Cancel</button>
            </div>
            
            
            <%- include('../../../admin/csrf-input.ejs') %>
            <input type="hidden" value="<%= page.pageName %>" name="page">
            <input type="hidden" value="<%= JSON.stringify(project._id) %>" name="projectId">
            <input type="hidden" value="<%= JSON.stringify(project) %>" id="previousContent" name="previousContent">


            
        </form>
            
    <% } %>


</section>


<script>
    function confirmDelete() {
        return confirm("Are you sure? This action is permanent.");
    }
    </script>